<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <link rel="stylesheet" href="http://www.pythonanywhere.com/static/anywhere/styles/tutorial.css" type="text/css" media="screen" charset="utf-8" />
        <link rel="stylesheet" href="http://www.pythonanywhere.com/static/anywhere/styles/bootstrap_base.css" type="text/css" media="screen" charset="utf-8" />

        <link rel="stylesheet" href="http://www.pythonanywhere.com/static/pygments/style.css" type="text/css" media="screen" charset="utf-8" />

        <link rel="icon" href="http://www.pythonanywhere.com/static/anywhere/images/favicon.ico" type="image/x-icon"> 
        <link rel="shortcut icon" href="http://www.pythonanywhere.com/static/anywhere/images/favicon.ico" type="image/x-icon"> 

        <style type="text/css">
            img {border: 1px solid #139FD7; float: right; padding: 5px;}
            h1, h2, h3, h4, h5, h6 {clear: both;}
            pre {padding: 5px; clear: both; margin: 10;}
        </style>

        <script type="text/javascript">
            parent.setHash({{ pagenum }});

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-18014859-6']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

        </script>

        <title>{{ title }}</title>

    </head>

    <body style="margin:50px 0px; padding:0px; text-align:center; ">

              
 




    <div style="width:900px; margin:0px auto; text-align:left; margin-bottom: 50px">
    
     <a href="http://www.pythonanywhere.com"><img style="float: left;" id="id_logo" src="http://www.pythonanywhere.com/static/anywhere/images/logo-234x35.png" height="35" title="PythonAnywhere logo" alt="PythonAnywhere logo" /></a>
     
     <br /><br /><br />
     
        {% autoescape off %}
            <h1 id="id_tutorial_title">{{ title }}</h1>

            {{ body }}
        {% endautoescape %}
    </div>
    <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.
    </body>
</html>




