<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <link rel="stylesheet" href="http://www.pythonanywhere.com/static/anywhere/styles/tutorial.css" type="text/css" media="screen" charset="utf-8" />
        <link rel="stylesheet" href="http://www.pythonanywhere.com/static/anywhere/styles/common_base.css" type="text/css" media="screen" charset="utf-8" />

        <link rel="stylesheet" href="http://www.pythonanywhere.com/static/pygments/style.css" type="text/css" media="screen" charset="utf-8" />

        <link rel="icon" href="http://www.pythonanywhere.com/static/anywhere/images/favicon.ico" type="image/x-icon"> 
        <link rel="shortcut icon" href="http://www.pythonanywhere.com/static/anywhere/images/favicon.ico" type="image/x-icon"> 

        <style type="text/css">
            img {border: 1px; color:grey; align: center;}
        </style>

        <script type="text/javascript">
            parent.setHash({{ pagenum }});

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-18014859-6']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

        </script>

        <title>{{ title }}</title>

    </head>

    <body style="margin:50px 0px; padding:0px; text-align:center;">
    <div style="width:900px; margin:0px auto; text-align:left;">
    
        {% autoescape off %}
            <h1 id="id_tutorial_title">{{ title }}</h1>

            {{ body }}
        {% endautoescape %}
    </div>
    </body>
</html>




